-if @products.empty?
  %p No products yet...
-else
  -@products.each do |product|
    %p= product.name
    %p= product.created_at
    %form{:action => url("/admin/products/#{product.id}/"), :method => 'POST'}
      %input{:type => 'hidden', :name => '_method', :value => 'delete'}
      %p
        %input{:type => 'submit', :value => 'delete'}
