%html
  %head
    %title ShowCase
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
  %body
    #wrapper
      -unless flash[:notice].nil?
        #flash-msg=flash[:notice]
      -unless flash[:warning].nil?
        #flash-msg=flash[:warning]
      =yield

